<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>QR Generator</title>
</head>

<body style="background-color: brown;">
  <div class="container" style="background-color: pink;border: 3px solid yellow; margin-top: 55px;padding: 10px;" >
    <h1>QR Generator</h1>
    <form action="/scan" method="POST" class="my-4 form-inline">
      <label for="url" class="sr-only">Url</label>
      <input required placeholder="Url Or Any Other Data Upto 3kb"  name="url" id="url" class="form-control col mr-2">
      <button class="btn btn-success" type="submit">Get QR</button>
    </form>    
  </div>
</body>
</html>


















































































































































































































































